{% extends "base.html" %}
{% load static %}
{% block title %}Bienvenido {% endblock %}

{% block content %}
<div class="welcome">
    <div>
        <h1 class="welcome-title" >Bienvenido</h1>
        <p class="welcome-paragraph">Trabajos remunerados para estudiantes</p>
    </div>
    <div class="box-professions">
        <div class="professions">
            {% for file in files %}
              <img src="{% static file %}" class="profession">
            {% endfor %}
        </div>
    </div>
</div>
<div class="actions">
    <div class="students">
        <div class="box-student-button">
            <div class="button-box">
                <a href="{% url 'jobs' %}" class="link-job">
                    <button class="button-filter">Ver empleos</button>
                </a>
            </div>
        </div>
    </div>
    <div class="employers">
        <div class="box-student-button">
            <div class="button-box">
                <a href="{% url 'add' %}" class="link-job">
                    <button class="button-filter">Publicar empleos</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>
{% endblock %}
