{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Practicas y pasantias para estudiantes de Chile">
		<meta name="keywords" content="Practicas, pasantias, Trabajo, jovenes, estudiantes, universitarios, Chile, Santiago">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/miniature-logo.png' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		
		<title>Projectzero | {% block title %}{% endblock %}</title>
	</head>
	<body>
	
	{% block content %} 
	{% endblock %}

	<script src="{% static 'js/app.js' %}"></script>
	</body>
</html>