body{
    color: #2b353b;
    font-family:"Lato",sans-serif,sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

nav {
    height: 10vh;
    background: white;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.layout{
    margin-top: 64px;
}

.box-filters{
    height: 100%;
    float: left;
    width: 20%;
    position: fixed;
    background-color: #f2f6f7;;
    padding-bottom: 12px;

}
.button-box{
    margin: auto;
    display: flex;
}

.button-filter{
    height: 36.4px;
    background-color: #fff;
    float: left;
    margin-right: 9px;
    padding: 0px 16px 0px 16px;
    color: #b673ec;
    border-radius: 6px;
    border: 1px solid #b673ec;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
}

.filters-list ul li{
    list-style: none;
    font-size: 14px;
}
.filters-list ul{
    padding-left: 5px;
}

.filter-title{
    text-align: center;
    color: #b673ec;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #b673ec;
}

.button-filter:hover{
    background-color: #b673ec;
    color: #fff;
    transition: 0.15s;
}

.jobs-box{
    float: right;
    width: 79%;
}

.jobs-results{
    height: 111px;
    border-bottom: 1px solid rgba(135,153,160,0.25);
    cursor: pointer;
}

.jobs-results:hover{
    background-color: #f2f6f7;
}


.job{
    padding: 23px 4px 23px 4px;
}

.avatar{
    float: left;
}

.information{
    float: left;
    margin-left: 8px;
}

.business{
    font-size: 14px;
    color: gray;
}

.title-h1{
    letter-spacing: -0.04em;
}

@media screen and (max-width: 991px) {
    .layout{
        margin-top: 0px;
    }
    .line {
      width: 30px;
      height: 3px;
      background: black;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 1;
    }
  
    .nav-links {
      position: fixed;
      background: white;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(10px at 100% -10%);
      -webkit-clip-path: circle(10px at 100% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1500px at 100% -10%);
      -webkit-clip-path: circle(1500px at 100% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }

    .box-filters{
        height: 100%;
        float: left;
        width: 100%;
        position: relative;
        background-color: white;
        padding-bottom: 12px;
        z-index: -1;
    }

    .filter-title-button{
        text-align: center;
        color: #b673ec;
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #b673ec;
        padding-bottom: 8px;
        padding-top: 8px;
        margin: 0px 5% 0px 5%;
        cursor: pointer;
    }

    #example {
        visibility: hidden;
        height: 0px;
        transition: height 2s;
      }

    #example.abrir {
        visibility: visible;
        pointer-events: all;
        height: auto;
    }

    .button-filter{
        visibility: hidden;
        height: 0px;
    }

    .button-filter.abrir{
        height: 36.4px;
        visibility: visible;
    }

    .jobs-box{
        float: left;
        width: 100%;
    }
}
  