<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Practicas y pasantias para estudiantes de Chile">
        <meta name="keywords" content="Practicas, pasantias, Trabajo, jovenes, estudiantes, universitarios, Chile, Santiago">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/miniature-logo.png') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>Projectzero | {% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header class="pz-header">
				<div class="pz-header-container">
					<div class="pz-header-brand">
						<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Projectzero" ></a>
					</div>
				</div>
			</header>
		{% endblock %}
		<div class="layout">
			{% block content %}{% endblock %}			
		</div>

		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>



