<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<title>{% block title %}{% endblock %} - Projectzero</title>
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
		<nav>
			<div class="navbar">
				<div class="landing-navbar">
					<div class="logo">
						<a href="index.html">
							<img class="image-logo" src="{{url_for('static', filename='img/p.png')}}" height="32px">
						</a>
					</div>
					<p class="name-logo">rojectzero</p>
					<div class="links">
						<a href="#">Nombre</a>
						<a href="#">Personas</a>
						<a href="#">Aprende</a>
					</div>
				</div>
			</div>
		</nav>
		{% endblock %}
		{% block content %}{% endblock %}
	</body>
</html>



