{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}Trabajo para estudiantes {% endblock %}

{% block content %}
    <div class="layout">
        <div class="box-filters">
            <form class="filters-list" method="post">
                <h4 class="filter-title">Categorias</h4>
                {{ form.hidden_tag() }}
                {{ form.example }}
                <div class="button-box">
                    <button class="button-filter" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    
        <div class="jobs-box">
            <h1 class="title-h1">Trabajos para estudiantes</h1>
            {% for i in range(company|length) %}
    
            <div class="jobs-results">
                <a href="{{link[i]}}" target="_blank">
                    <div class="job">
                        <div class="results-resume">
                            <div class="avatar">
                                <img src="{{url_for('static', filename='img/facebook.png')}}" alt="Facebook" height="64px">
                            </div>
                            <div class="information">
                                <strong class="title-job">{{title[i]}}</strong>
                                <p class="business">{{company[i]}}</p>
                                <p class="business">{{functions[i]}}</p>
        
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}