{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %}Trabajo para estudiantes {% endblock %}

{% block content %}
    <div class="box-filters">
        <form class="filters-list" method="post">
            <h4 class="filter-title filter-title-button">Categorias</h4>
            {{ form.hidden_tag() }}
            {{ form.example }}
            <div class="button-box">
                <button class="button-filter" type="submit">Buscar</button>
            </div>
        </form>
    </div>

    <div class="jobs-box">
        <h1 class="title-h1">Trabajos para estudiantes</h1>
        {% for i in range(company|length) %}

        <div class="jobs-results">
            <a href="{{link[i]}}" target="_blank" class="link-job">
                <div class="jobs-results-information">
                    <div class="jobs-results-information-main">
                        <div class="avatar">
                            <img src="{{link_picture[i]}}" alt="{{company[i]}}" height="64px">
                        </div>
                        <div class="results-list-info">
                            <h4 class="results-list-title">
                                <strong class="color-title1">{{title[i]}}</strong>
                                <!--<span class="color-title2"> Full time</span>-->
                            </h4>
                            <div class="business">
                                {{company[i]}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

{% endblock %}